{% extends 'base/base.html' %}
{% load static %}
{% block main-content %}

                  <link rel="stylesheet" href="{% static "css/login.css" %}">

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4" ></div>
    <div class="col-lg-4 col-md-4 col-sm-4" >
        <form method="post" action="{% url 'profile delete' request.user.id %}">
            <h1>Delete Profile</h1>
            <div class="form-container">
            <hr/>
            <div class="container">
                {% csrf_token %}
                {{ form }}
                </div>
            <button type="submit">Delete</button>

        </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4" ></div>
</div>
    <br><br><br>



{% endblock %}