{% extends 'base/base.html' %}
{% load static %}
{% block main-content %}


<div class="row" style="margin: 150px">
    <div class="col-lg-4 col-md-4" ></div>
    <div class="col-lg-4 col-md-4" >
        <form class="appoinment-form" method="post" action="{% url 'profile delete' request.user.id%}">
            <h1>Delete Profile</h1>
            <div class="form-container">
            <hr/>
            <div class="flex-column">
                {% csrf_token %}
                {{ form }}
            </div>
		   <div class="col-lg-12 d-flex justify-content-end send-btn">
		    <button class="primary-btn primary mt-20 text-uppercase ">Delete</button>
		   </div>
         </div>
        </form>

    <div class="col-lg-4 col-md-4" ></div>
    </div>
</div>

{% endblock %}