{% extends 'base/base.html' %}
{% block main-content %}
			<!-- Start team Area -->
		    <section class="team-area section-gap" id="team">
		        <div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content pb-70 col-lg-8">
		                    <div class="title text-center">
		                        <h1 class="mb-10">Your Profile</h1>
		                        <p>You can manage Your Profile from here.</p>
		                    </div>
		                </div>
		            </div>

		            <div class="row justify-content-center d-flex align-items-center">
		                <div class="col-lg-3 col-md-6 single-team">
		                    <div class="thumb">
		                        <img class="img-fluid" src="img/t1.jpg" alt="">
		                        <div class="align-items-end justify-content-center d-flex">
		                            <p>
		                            	inappropriate behavior
		                            </p>
		                            <h4>Andy Florence</h4>
		                        </div>
		                    </div>
		                </div>

		            </div>
		        </div>
		    </section>
		    <!-- End team Area -->
{% endblock %}