
{% extends 'base/base.html' %}
{% load static %}
{% block main-content %}
  <head>
    <title>Simple login form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
      <link rel="stylesheet" href="{% static "css/login.css" %}">
  </head>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4" ></div>
    <div class="col-lg-4 col-md-4 col-sm-4" >
        <form method="post" action="{% url 'register' %}">
            <h1>Register Form</h1>
            <div class="form-container">
            <hr/>
            <div class="container">
                {% csrf_token %}
                {{ form }}
                </div>
            <button type="submit">Register</button>

        </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4" ></div>
</div>
{% endblock %}